<!DOCTYPE html>
<!--html5-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src="../../static/css/jquery.min.js" th:src="@{/css/jquery.min.js}"></script>
        <script src="../../static/css/bootstrap.min.js" th:src="@{/css/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>
    </head>
    <body>
        <div class="navbar navbar-light bg-light">
            <a href="#" class="navbar-brand">
                List
            </a>
            <form action="#" th:action="@{/student/list}" method="GET">
                <div class="form-inline">
                    <input class="form-control" name="sch">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
        <div class="container">
            <!--검색 바-->

            <table class="table">
                <tr th:each="resultData: ${resultList}">
                    <td th:text=${resultData.id}></td>
                    <td th:text=${resultData.name}></td>
                    <td th:text=${resultData.passportNumber}></td>
                </tr>
            </table>
        </div>
    </body>
</html>