<!DOCTYPE html>
<!--html5-->
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <script src="../../static/css/jquery.min.js" th:src="@{/css/jquery.min.js}"></script>
        <script src="../../static/css/bootstrap.min.js" th:src="@{/css/bootstrap.min.js}"></script>
        <link rel="stylesheet" href="../../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>
    </head>
    <body>
        <div class="nav navbar-light bg-light">
            <a href="#" class="navbar-brand">
                List
            </a>
        </div>
        <div class="container">
            <!--검색 바-->
            <form action="#" th:action="@{/commonCode/list}" method="GET">
                <div class="form-group form-inline">
                    <input class="form-control" name="serach">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
            <table class="table">
                <tr th:each="resultData: ${resultList}">
                    <td th:text=${resultData.COMMON_CODE_ID}></td>
                    <td th:text=${resultData.NAME}></td>
                    <td th:text=${resultData.DESCRIPTION}></td>
                </tr>
            </table>
        </div>
    </body>
</html>