<!DOCTYPE html>
<!--html5-->

<html xmlns:th="https://thymeleaf.org">
    <head>
        <script src="../../static/css/jquery.min.js" th:src="@{/css/jquery.min.js}"></script>
        <script src="../../static/css/bootstrap.min.js" th:src="@{/css/bootstrap.min.js}"></script>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    </head>
    <body>
        <div class="container">
            <h1>edit</h1>
            <form action="#" th:action="@{/commonCode/}">
                <div class="form-group">
                    <label>Name</label>
                    <input type="text" class="form-control" name="COMMON_NAME" placeholder="Please insert your name.">
                </div>
                <div class="form-group">
                    <label>E-mail</label>
                    <input type="email" class="form-control" name="COMMON_EMAIL" placeholder="Please insert your name.">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <table>
                <tr>
                    <td th:text=${resultMap.COMMON_NAME}></td>
                    <td th:text=${resultMap.COMMON_EMAIL}></td>
                </tr>
            </table>
        </div>
    </body>
</html>