<!DOCTYPE html>
<!--html5-->

<html xmlns:th="https://thymeleaf.org">
    <head>
    </head>
    <body>
        <div> Time : good time</div>
        <ul>
            <li>any</li>
            <li>where</li>
            <a href="./memeber/list.html" th:href="@{/member/list}">Member List</a>
            <li><a href="./log/login.html" th:href="@{/log/login}">Log In</a></li>
            <li><a href="./log/logout.html" th:href="@{/log/logout}">Log Out</a></li>
            <li><a href="./log/signup.html" th:href="@{/log/signup}">Sign Up</a></li>
            <li><a href="./board/edit.html" th:href="@{/board/edit}">Edit</a></li>
            <li><a href="./board/list.html" th:href="@{/board/list}">List</a></li>
            <li><a href="./board/delete.html" th:href="@{/board/delete}">Delete</a></li>
            <li><a href="./board/view.html" th:href="@{/board/view}">view</a></li>
        </ul>
    </body>
</html>